.friend{
    border: 3px solid orangered;
    background-color: darkcyan;
    border-radius: 25px;
    border-color: black;
    padding: 20px;
    margin: 15px;
    
}
.btn{
    background-color:rgb(170, 106, 147);
    border-radius: 10px;
    
}
.btn:hover{
color: aqua;
}